@import "@fontsource/exo/400.css"; /* Exo normal */
@import "@fontsource/exo/700.css"; /* Exo bold */
@import "@fontsource/raleway/400.css"; /* Raleway normal */
@import "@fontsource/raleway/700.css";
@import "@fontsource/roboto/400.css"; /* Poids normal (400) */
@import "@fontsource/roboto/700.css"; /* Poids bold (700) */

@import "tailwindcss";
@theme {
  --breakpoint-3xl: 150rem;
}
.tippy-box[data-theme~="tooltip"] {
  @apply bg-gray-900 text-white rounded-xl shadow-xl px-3 py-1 transition-all duration-300 text-sm;
}

.tippy-box[data-theme~="tooltip"] > .tippy-arrow::before {
  color: #111827; /* gray-900 */
}
